{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Quicklink</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <main>
      <form action="" method="post">
        {% csrf_token %}
        <h2>Quicklink - URL Shortner</h2>
        <input
          type="text"
          name="'link"
          id="input-feild"
          placeholder="Enter URL Link here"
          required
        />
        <br />
        <button id="btn" type="submit">Submit</button><br />
        <p id="result">Your Shortened link will appear here</p>
      </form>
    </main>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div
          class="wave waveTop"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div
          class="wave waveMiddle"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div
          class="wave waveBottom"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
          "
        ></div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    let btn = document.getElementById("btn");

    let input_feild = document.getElementById("input-feild");

    link_url = "/get_url";

    btn.onclick = function (e) {
      e.preventDefault();
      console.log("button clicked");

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");

      fetch(link_url, {
        methord: "POST",
        headers: {
          "Content-type": "application/json",
          "X-CSRFToken": csrftoken,
        },

        body: JSON.stringify({ new_input_feild: input_feild.value }),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
        });
    };
  </script>
</html>
